
<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../bower_components/vaadin-grid/vaadin-grid.html">
<link rel="import" href="../../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../../bower_components/paper-button/paper-button.html">

<link rel="import" href="../../shared-styles.html">

<dom-module id="app-user-accounts">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }

    </style>
    <template is="dom-if" if="{{_isEqualTo(islogged, 'Ok')}}" >
    <div class="card">
      <div class="circle">Mis&nbsp;Cuentas</div>
      <vaadin-grid id="grid"
        theme="row-dividers" column-reordering-allowed multi-sort items="{{listUserAccounts}}">
        <vaadin-grid-column flex-grow="0" width="10%">
          <template class="header">#</template>
          <template>
            <div on-dblclick="getMovements">[[index]]</div>
          </template>
        </vaadin-grid-column>
        <vaadin-grid-column >
          <template class="header">Numero Cuenta</template>
          <template>
          <div on-dblclick="getMovements">[[item.numeroCuenta]]</div></template>
        </vaadin-grid-column>
        <vaadin-grid-column >
          <template class="header">Tipo Cuennta</template>
          <template>
          <div on-dblclick="getMovements">[[item.tipo]]</div></template>
        </vaadin-grid-column>
        <vaadin-grid-column >
          <template class="header">Moneda</template>
          <template>
          <div on-dblclick="getMovements">[[item.monedaSaldo]]</div></template>
        </vaadin-grid-column>
        <vaadin-grid-column >
          <template class="header">Saldo Disponible</template>
          <template>
          <div on-dblclick="getMovements">[[item.saldo]]</div></template>
        </vaadin-grid-column>
      </vaadin-grid>
    </div>
    </template >
    <iron-ajax
      id="doListAccouts"
      url="http://localhost:3000/apiperu/v0/users/{{idCliente}}/accounts"
      content-type="application/json"
      method="GET"
      handle-as="json"
      last-response="{{listUserAccounts}}"
      on-error="showError">
  </template>

  <script>
    class AppUserAccounts extends Polymer.Element {
      static get is() { return 'app-user-accounts'; }

       static get properties() {
         return {
           idCliente: {
             type: Number,
             notify: true
           },
           islogged: {
             type: String,
             value: "Ok",
             notify: true
           },
         }
       }

       constructor(){
         super();
       }
       ready(){
         super.ready()
       }

       connectedCallback(){
         super.connectedCallback()
       }

       disconnectedCallback(){
         super.disconnectedCallback()
       }

       attributeChangedCallback(nombre, valorAnterior, valorNuevo) {
         super.attributeChangedCallback();
       }

       _mostarCuentas(){
         this.$.doListAccouts.generateRequest();
       }

      showError(errorRespose) {
        console.log(errorRespose.detail.request.response);
      }
      
      mostrarDatosRecibidos(data){
         this.idCliente = data.idCliente
         this.idCuenta = null
         this.islogged = "Ok"
         this._mostarCuentas()
       }

       getMovements(e){
         var account = e.model.__data.item
         this.dispatchEvent(new CustomEvent('listUserAccounts',
         {
           detail:{
             idCliente:account.idCliente,
             idCuenta: account.idCuenta
           }
         }))
         this.islogged = "NotOK"
       }

       _isEqualTo(title, string){
         return title == string;
       }

    }
    window.customElements.define(AppUserAccounts.is, AppUserAccounts);
  </script>
</dom-module>
