
<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../../bower_components/paper-radio-group/paper-radio-group.html">
<link rel="import" href="../../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../../bower_components/iron-form/iron-form.html">
<link rel="import" href="../../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../../bower_components/vaadin-combo-box/vaadin-combo-box.html">

<link rel="import" href="../../shared-styles.html">

<dom-module id="app-user-account">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>
          <iron-form id="formUserAccount">
           <form action="/">
             <paper-item>
               <paper-input label="Tipo Cuenta" value="{{tipo::input}}" readonly='{{isReadOnly}}' required></paper-input>
               <paper-input label="Numero Cuenta" value="{{numeroCuenta::input}}" readonly='{{isReadOnly}}' required></paper-input>
               <paper-input label="Moneda" value="{{monedaSaldo::input}}" readonly='{{isReadOnly}}' required></paper-input>
               <paper-input label="Saldo" value="{{saldo::input}}" readonly='{{isReadOnly}}' required></paper-input>
             </paper-item>
           </form>
         </iron-form>

         <iron-ajax
           id="doGetUserAccount"
           auto
           url="http://localhost:3000/apiperu/v0/users/{{idCliente}}/accounts/{{idCuenta}}"
           content-type="application/json"
           method="GET"
           handle-as="json"
           on-response="getUserAccountResponse"
           on-error="showError">
  </template>

  <script>
    class AppUserAccount extends Polymer.Element {
      static get is() { return 'app-user-account'; }
      constructor() {
         super();
       }
       static get properties() {
         return {
           idCliente: {
             type: Number
           },idCuenta: {
             type: Number
           },
           numeroCuenta: {
             type: String
           },
           tipo: {
             type: String,
           },
           saldo: {
             type: String,
           },
           monedaSaldo: {
             type: String,
           },
           isReadOnly: {
             type: Boolean,
             value:true
           }
         };
       }
      ready() {
         super.ready();
       }

      getUserAccountResponse(data) {
        this.monedaSaldo = data.detail.response[0].monedaSaldo
        this.saldo = data.detail.response[0].saldo
        this.tipo = data.detail.response[0].tipo
        this.numeroCuenta = data.detail.response[0].numeroCuenta
      }

      showError(errorRespose) {
        
        console.log(errorRespose.detail.request.response);
      }

      resetForm(e) {
        this.$.formUserAccount.reset();
      }

    }

    window.customElements.define(AppUserAccount.is, AppUserAccount);
  </script>
</dom-module>
