
<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../bower_components/vaadin-grid/vaadin-grid.html">
<link rel="import" href="../../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../../bower_components/paper-button/paper-button.html">

<link rel="import" href="../../shared-styles.html">
<link rel="import" href="app-user-account.html">

<dom-module id="app-user-account-movements">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }
    </style>
    <template is="dom-if" if="{{_isEqualTo(islogged, 'Ok')}}" >
    <div class="card">
      <div class="circle">Movimientos</div>
      <br/>
      <paper-button toggles class="customs pink" on-click="getUserAccounts">Volver a Mis Cuentas</paper-button>
      <br/>
      <app-user-account id-cliente="{{idCliente}}" id-cuenta="{{idCuenta}}"></app-user-account>
      <br/>
      <vaadin-grid theme="row-dividers" column-reordering-allowed multi-sort items="{{listUserAccountMovements}}">
        <vaadin-grid-column flex-grow="0">
          <template class="header">#</template>
          <template>[[index]]</template>
        </vaadin-grid-column>
        <vaadin-grid-column path="operacion" header="Operacion"></vaadin-grid-column>
        <vaadin-grid-column path="fecha" header="Fecha Operacion"></vaadin-grid-column>
        <vaadin-grid-column path="hora" header="Hora Operacion"></vaadin-grid-column>
        <vaadin-grid-column path="monedaImporte" header="Moneda"></vaadin-grid-column>
        <vaadin-grid-column path="importe" header="Importe"></vaadin-grid-column>
        <vaadin-grid-column path="tipo" header="Tipo Operacion"></vaadin-grid-column>
      </vaadin-grid>
    </div>
  </template>
  <iron-ajax
    id="doListAccouts"
    url="http://localhost:3000/apiperu/v0/users/{{idCliente}}/accounts/{{idCuenta}}/movements"
    content-type="application/json"
    method="GET"
    handle-as="json"
    last-response="{{listUserAccountMovements}}"
    on-error="showError">
  </template>

  <script>
    class AppUserAccountMovements extends Polymer.Element {
      static get is() { return 'app-user-account-movements'; }
       static get properties() {
         return {
           idCliente: {
             type: Number
           },
           idCuenta: {
             type: Number,
             notify: true
           },
           islogged: {
             type: String,
             value: "NotOk"
           },
         }
       }
      getUserAccounts(e){
        this.dispatchEvent(new CustomEvent('listUserAccountMovements',
        {
          detail:{
            idCliente:this.idCliente,
            idCuenta:this.idCuenta
          }
        }))
        this.islogged = "NotOK"

      }
      showError(errorRespose) {
        console.log(errorRespose.detail.request.response);
      }
      mostrarDatosRecibidos(data){
         this.idCliente = data.idCliente
         this.idCuenta = data.idCuenta
         this.islogged = "Ok"
         this.mostrarMovimientos()
       }

       mostrarMovimientos(){
         this.$.doListAccouts.generateRequest()
       }

       _isEqualTo(title, string){
         return title == string;
       }
    }
    window.customElements.define(AppUserAccountMovements.is, AppUserAccountMovements);
  </script>
</dom-module>
