
  <link rel="import" href="../../../bower_components/polymer/polymer-element.html">
  <link rel="import" href="../../../bower_components/iron-ajax/iron-ajax.html">
  <link rel="import" href="../../../bower_components/paper-radio-group/paper-radio-group.html">
  <link rel="import" href="../../../bower_components/paper-input/paper-input.html">
  <link rel="import" href="../../../bower_components/paper-button/paper-button.html">
  <link rel="import" href="../../../bower_components/iron-form/iron-form.html">
  <link rel="import" href="../../../bower_components/paper-item/paper-item.html">
  <link rel="import" href="../../../bower_components/vaadin-combo-box/vaadin-combo-box.html">
  <link rel="import" href="../../../bower_components/paper-dialog/paper-dialog.html">

  <link rel="import" href="../../shared-styles.html">
  <link rel="import" href="../../app-dialog.html">

  <dom-module id="delete-user">
    <template>
    <style include="shared-styles">
    :host {
      display: block;

      padding: 10px;
    }
    vaadin-combo-box {
    	width: 100%;
    }
    </style>
    <app-dialog id="dlgMessagesCuenta"  titulo="{{titulo}}" mensaje="{{mensaje}}">
    </app-dialog>
      <div align="right">
        <paper-button toggles raised class="custom green" on-click="deleteUser">Eliminar Usuario</paper-button>
      </div>


  <iron-ajax
  id="doDeleteUser"
  url="http://localhost:3000/apiperu/v0/users/{{idCliente}}"
  content-type="application/json"
  method="DELETE"
  handle-as="json"
  on-response="saveUserAccountResponse"
  on-error="showError">
  </template>

  <script>
  class DeleteUser extends Polymer.Element {
    static get is() { return 'delete-user'; }
    constructor() {
      super();
    }
    static get properties() {
      return {
        idCliente: {
          type: Number
        },
        titulo: {
          type: String
        },
        mensaje: {
          type: String
        }
      };
    }
    ready() {
      super.ready();
    }
    saveUserAccountResponse(data) {
      this.titulo = 'USUARIO ELIMINADO CORRECTAMENTE'
      this.mensaje = ''
      this.$.dlgMessagesCuenta._openDialog();
      this.dispatchEvent(new CustomEvent('deleteUserOk',{
        detail:null
      }
      ))
    }
    showError(errorRespose) {
      if (errorRespose.detail.request.__data.status == 404){
        this.titulo = "Mensaje de Validación"
        this.mensaje = errorRespose.detail.request.response.msg
        this.$.dlgMessagesCuenta._openDialog();
      } else {
        this.titulo = "Mensaje de Error"
        this.mensaje = 'Error interno de comunicación'
        this.$.dlgMessagesCuenta._openDialog();
      }
    }
    deleteUser(e){



        var cliente = {
          "idCliente": this.idCliente
        }

        this.$.doDeleteUser.body = JSON.stringify(cliente);
        this.$.doDeleteUser.generateRequest();

    }
  }

  window.customElements.define(DeleteUser.is, DeleteUser);
  </script>
  </dom-module>
