
<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../../bower_components/paper-radio-group/paper-radio-group.html">
<link rel="import" href="../../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../../bower_components/iron-form/iron-form.html">
<link rel="import" href="../../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../../bower_components/vaadin-combo-box/vaadin-combo-box.html">

<link rel="import" href="../../shared-styles.html">
<link rel="import" href="../../app-dialog.html">

<dom-module id="user-account-movement">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
      vaadin-combo-box {
        width: 100%;
      }
    </style>
    <div>
          <iron-form id="formSaveAccountMovement">
           <form action="/">
          <!--   <vaadin-combo-box raised id="cbxOperacion" disabled="true"
             value="{{operacion::input}}"  required>
           </vaadin-combo-box>-->
             <vaadin-combo-box raised id="cbxCuentaOrigen" width="100px" placeholder="Seleccione"
             item-label-path="numeroCuenta"
             item-value-path="idCuenta"
             items="{{listUserAccounts}}"
             label="Cuenta Origen"
             value="{{cuentaOrigen}}"
             required>
             </vaadin-combo-box>
             <paper-input label="Cuenta de Abono" value="{{cuentaDestino::input}}" readonly='{{isReadOnly}}' required></paper-input>
               <vaadin-combo-box raised label="Moneda" placeholder="Seleccione"
               id="cbxMonedaSaldo" value="{{monedaImporte}}" readonly='{{isReadOnly}}' required>
               </vaadin-combo-box>
               <paper-input raised label="Monto" value="{{importe::input}}" readonly='{{isReadOnly}}' required></paper-input>
             <br>
             <div align="right">
               <paper-button toggles raised class="custom green" on-click="saveAccountMovement">Registrar</paper-button>
               <paper-button toggles raised class="custom green" on-click="resetForm">Limpiar</paper-button>
             </div>

           </form>
         </iron-form>
    </div>
    <app-dialog id="dlgMessagesMovimiento"  titulo="{{titulo}}" mensaje="{{mensaje}}">
    </app-dialog>
    <iron-ajax
      id="doGetUserAccount"
      auto="true"
      url="http://localhost:3000/apiperu/v0/users/{{idCliente}}/accounts"
      content-type="application/json"
      method="GET"
      handle-as="json"
      last-response="{{listUserAccounts}}"
      on-error="showError">

    <iron-ajax
      id="doSaveUserAccount"
      url="http://localhost:3000/apiperu/v0/users/{{idCliente}}/accounts/{{idCuenta}}/movements"
      content-type="application/json"
      method="POST"
      handle-as="json"
      on-response="saveUserAccountMovementResponse"
      on-error="showError">
  </template>

  <script>
    class UserAccountMovement extends Polymer.Element {
      static get is() { return 'user-account-movement'; }
      constructor() {
         super();
       }
       static get properties() {
         return {
           idCliente: {
             type: Number
           },idCuenta: {
             type: Number
           },
           cuentaOrigen: {
             type: String,
           },
           cuentaDestino: {
             type: String,
           },
           monedaImporte: {
             type: String,
           },
           importe: {
             type: String,
           },
           tipo: {
             type: String,
             value: "AUTOMATICO"
           },
           operacion: {
             type: String,
           },
           fecha: {
             type: String,
           },
           hora: {
             type: String,
           },
           ubicacion: {
             type: String,
             value: 'Lima'
           },
           isReadOnly: {
             type: Boolean,
             value:false
           }
         };
       }
      ready() {
         super.ready();
         this.$.cbxMonedaSaldo.items  = ['PEN', 'USD', 'EUR']
         this.$.cbxMonedaSaldo.value = 'PEN'
         /*
         this.$.cbxOperacion.items  = ['TRASFERENCIA', 'EFECTIVO MOVIL', 'PAGOS']
         this.$.cbxOperacion.value = 'TRASFERENCIA'
         */
       }
      saveUserAccountMovementResponse(data) {
        var movimiento  = data.detail.__data.response.bodyPostMov
        this.titulo = this.operacion + ' REALIZADO CORRECTAMENTE'
        this.mensaje = "Código de Operación: " + zfill(movimiento.idMovimiento, 8)
        this.$.formSaveAccountMovement.reset();
        this.$.dlgMessagesMovimiento._openDialog();
      }
      showError(errorRespose) {
        if (errorRespose.detail.request.__data.status == 404){
          this.titulo = "Mensaje de Validación"
          this.mensaje = errorRespose.detail.request.response.msg
          this.$.dlgMessagesMovimiento._openDialog();
        } else {
          this.titulo = "Mensaje de Error"
          this.mensaje = 'Error interno de comunicación'
          this.$.dlgMessagesMovimiento._openDialog();
        }
      }
      saveAccountMovement(e){
        var isValidate = this.$.formSaveAccountMovement.validate()
        if (isValidate){
          this.fecha = obtenerFechaActual()
          this.hora = obtenerHoraActual()
          this.operacion = 'TRASFERENCIA'
          this.ubicacion = 'LIMA'
          this.idCuenta = this.cuentaOrigen

          var movement = {
              "idCuenta": this.idCuenta,
              "idCliente": this.idCliente,
              "cuentaOrigen": this.cuentaOrigen,
              "cuentaDestino": this.cuentaDestino,
              "monedaImporte": this.monedaImporte,
              "importe": this.importe,
              "tipo": this.tipo,
              "operacion": this.operacion,
              "fecha": this.fecha,
              "hora": this.hora,
              "ubicacion": this.ubicacion
          }
          console.log("transferencia::::>>>>: ", movement);
          this.$.doSaveUserAccount.body = JSON.stringify(movement);
          this.$.doSaveUserAccount.generateRequest();
        }
      }
      resetForm(e) {
        this.$.formSaveAccountMovement.reset();
      }
    }
    function obtenerFechaActual(){
      var fecha = new Date(); //Fecha actual
      var mes = fecha.getMonth()+1; //obteniendo mes
      var dia = fecha.getDate(); //obteniendo dia
      var anio = fecha.getFullYear(); //obteniendo año
      if(dia<10)
        dia='0'+dia; //agrega cero si el menor de 10
      if(mes<10)
        mes='0'+mes //agrega cero si el menor de 10
      return dia + "/" + mes + "/" + anio;
    }

    function obtenerHoraActual(){
      var fecha = new Date();
      return fecha.toLocaleString('en-US', { hour: 'numeric', minute: 'numeric', hour12: true })
    }

    function zfill(number, width) {
    var numberOutput = Math.abs(number); /* Valor absoluto del número */
    var length = number.toString().length; /* Largo del número */
    var zero = "0"; /* String de cero */

    if (width <= length) {
        if (number < 0) {
             return ("-" + numberOutput.toString());
        } else {
             return numberOutput.toString();
        }
    } else {
        if (number < 0) {
            return ("-" + (zero.repeat(width - length)) + numberOutput.toString());
        } else {
            return ((zero.repeat(width - length)) + numberOutput.toString());
        }
    }
}
    window.customElements.define(UserAccountMovement.is, UserAccountMovement);
  </script>
</dom-module>
