
<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/gold-password-input/gold-password-input.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../../bower_components/iron-form/iron-form.html">
<link rel="import" href="../shared-styles.html">
<link rel="import" href="../app-dialog.html">


<dom-module id="app-techu-login">
  <template>
  <style include="shared-styles">
  :host {
    display: block;

    padding: 10px;
  }
  </style>
  <iron-form id="formSaveAccount">
    <form is="iron-form" >
      <template is="dom-if" if="{{_isEqualTo(islogged, 'Ok')}}" >
        <div class="card">
          <div class="circle">BBVA&nbsp;Tech&nbsp;(U)</div>
          <paper-input always-float-label label="Username" value="{{email::input}}" required></paper-input>
          <paper-input label="Password" type="password" value="{{password::input}}" required></paper-input>
          <div align="right">
            <paper-button toggles raised class="custom green" on-click="login">Login</paper-button>
          </div>
          <div class="output">
            <paper-button class="customs pink">¿Olvidaste tu contraseña?</paper-button>
            <paper-button class="customs pink" on-click="crearUsuario">Registrate</paper-button>
          </div>
        </div>
      </template>
    </form>
  </iron-form>

  <app-dialog id="dlgMessage" titulo="{{titulo}}" mensaje="{{mensaje}}"></app-dialog>

  <iron-ajax
  id="doLogin"
  url="http://localhost:3000/apiperu/v0/login"
  content-type="application/json"
  method="POST"
  handle-as="json"
  on-response="manageAJAXResponse"
  on-error="showError">
</template>

<script>

class AppTechuLogin extends Polymer.Element {
  static get is() { return 'app-techu-login'; }
  static get properties() {
    return {
      email: {
        type: String,
      },
      password: {
        type: Number,
      },
      idUser: {
        type: Number
      },componentName: {
        type: String,
      },
      titulo: {
        type: String,
      },
      mensaje: {
        type: String,
      },
      islogged: {
        type: String,
        value: "Ok"
      }
    };
  }
  login(e) {
    var isValidate = this.$.formSaveAccount.validate()
    if (isValidate){
      var loginData = {
        "email" : this.email,
        "password" : this.password
      };
      this.$.doLogin.body = JSON.stringify(loginData);
      this.$.doLogin.generateRequest();
    }
  }

  crearUsuario(e) {
    this.dispatchEvent(new CustomEvent('irCrearUsuarioOk',
    {
      detail:{
        idCliente:null,
      }
    }))
    this.islogged = "NotOK"
  }

  mostrarDatosRecibidos(data){
    this.idCliente = data.idCliente
    this.islogged = "Ok"
  }

  _isEqualTo(title, string){
    return title == string;
  }

  manageAJAXResponse(data) {
    console.log("loginUserOK>>>>>>>: ", data.detail.__data.response);
    this.dispatchEvent(new CustomEvent('loginUserOk',{
      detail:data.detail.__data.response
    }
    ))
    this.islogged = "NotOK"
  }

  showError(errorRespose) {
    if (errorRespose.detail.request.__data.status == 404){
      this.titulo = "Mensaje de Validación"
      this.mensaje = errorRespose.detail.request.response.msg
      this.$.dlgMessage._openDialog();
    } else {
      this.titulo = "Mensaje de Error"
      this.mensaje = 'Error interno de comunicación'
      this.$.dlgMessage._openDialog();
    }
  }
}

window.customElements.define(AppTechuLogin.is, AppTechuLogin);
</script>
</dom-module>
