
<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../shared-styles.html">
<link rel="import" href="../login/app-techu-login.html">
<link rel="import" href="../user/user-home.html">
<link rel="import" href="../user/app-techu-save-user.html">


<dom-module id="app-techu-home">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>

    <app-techu-login id="ceAppLogin"></app-techu-login>
    <user-home id="ceUserHome"></user-home>
    <app-techu-save-user id="ceSaveUser"></app-techu-save-user>

  </template>

  <script>
    class AppTechuHome extends Polymer.Element {
      static get is() { return 'app-techu-home'; }
      ready(){
        super.ready()
        this.$.ceAppLogin.addEventListener('loginUserOk', e => {this.getLoginUserOK(e)})
        this.$.ceUserHome.addEventListener('logoutUserOk', e => {this.getLogoutUser(e)})

        this.$.ceAppLogin.addEventListener('irCrearUsuarioOk', e => {this.irCrearUsuario(e)})
        this.$.ceSaveUser.addEventListener('usuarioCreadoOk', e => {this.usuarioCreado(e)})

      }
      constructor(){
        super();

      }

      connectedCallback(){
        super.connectedCallback()

        var isLogin = sessionStorage.getItem('islogged')
        var usuario = sessionStorage.getItem('usuario')
        if (isLogin != undefined && isLogin == 'OK') {
          this._loginUserOK(JSON.parse(usuario))
        }
      }

      disconnectedCallback(){
        super.disconnectedCallback()

      }

      attributeChangedCallback(nombre, valorAnterior, valorNuevo) {
        super.attributeChangedCallback();

      }


      irCrearUsuario(e){
        this.$.ceSaveUser.mostrarAlta = false
        this.$.ceSaveUser.mostrarDatosRecibidos(e.detail)
      }
      usuarioCreado(e){
        this.$.ceSaveUser.mostrarAlta = true
        this.$.ceAppLogin.mostrarDatosRecibidos(e.detail)
      }

      _loginUserOK(e){

        var userHome = this.$.ceUserHome
        if (e.cliente.email != undefined
          && e.cliente.email != null
          && e.cliente.email == 'saultellod@gmail.com'){
          userHome.isAdmin = false
          userHome.isCustomer = true
        } else {
          userHome.isAdmin = true
          userHome.isCustomer = false
        }
        this.$.ceAppLogin.islogged = 'NotOK'
        userHome.ocultar = false
        userHome._mostrarDatosRecibidos(e)
      }


      getLoginUserOK(e){
        sessionStorage.setItem("islogged", 'OK');
        sessionStorage.setItem("usuario", JSON.stringify(e.detail));
        var userHome = this.$.ceUserHome
        if (e.detail.cliente.email != undefined
          && e.detail.cliente.email != null
          && e.detail.cliente.email == 'saultellod@gmail.com'){
          userHome.isAdmin = false
          userHome.isCustomer = true
        } else {
          userHome.isAdmin = true
          userHome.isCustomer = false
        }
        userHome.ocultar = false
        userHome.mostrarDatosRecibidos(e.detail)
      }

      getLogoutUser(e){
        sessionStorage.setItem("islogged", 'NotOK');
        sessionStorage.setItem("usuario", null);
        var userHome = this.$.ceUserHome
        userHome.ocultar = true
        this.$.ceAppLogin.mostrarDatosRecibidos(e.detail)
        //window.location.href = "http://127.0.0.1:8081/app-techu/";
        window.location.replace("http://127.0.0.1:8081/app-techu/");
      }
    }

    window.customElements.define(AppTechuHome.is, AppTechuHome);
  </script>
</dom-module>
