
<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../shared-styles.html">
<link rel="import" href="app-update-user.html">
<link rel="import" href="mis-cuentas/delete-user.html">

<dom-module id="app-actualizar-datos">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>

    <div class="card">
      <div class="circle">Mis&nbsp;Datos</div>
        <delete-user id="ceDeleteUser" id-cliente="{{idCliente}}"></delete-user>
        <app-update-user id="ceUpdateUser"
        nombre="{{nombre}}"
        apellido={{apellido}}
        tipo-documento="{{tipoDocumento}}"
        numero-documento="{{numeroDocumento}}"
        telefono = "{{telefono}}"
        id-cliente="{{idCliente}}"></app-update-user>
    </div>

    <iron-ajax
    auto
    id="doGetUser"
    url="http://localhost:3000/apiperu/v0/users/{{idCliente}}"
    content-type="application/json"
    method="GET"
    handle-as="json"
    on-response="manageGetUserResponse"
    on-error="showErrorGetUser">

    <app-dialog id="dlgMessagesUsuario"  titulo="{{titulo}}" mensaje="{{mensaje}}">
    </app-dialog>
  </template>


  <script>
    class AppActualizarDatos extends Polymer.Element {
      static get is() { return 'app-actualizar-datos'; }
      static get properties() {
        return {
          email: {
            type: String,
          },
          password: {
            type: Number,
          },
          idUser: {
            type: Number
          },nombre: {
            type: String,
          },
          apellido: {
            type: String,
          },
          correo: {
            type: String,
          },
          telefono: {
            type: String,
          },
          tipoDocumento: {
            type: String,
          },
          numeroDocumento: {
            type: String,
          },
          islogged: {
            type: String,
            value: "NotOk"
          },
          titulo: {
            type: String
          },
          mensaje: {
            type: String
          },
          idCliente: {
            type: Number
          }
        };
      }
      ready() {
        super.ready();
          this.$.ceDeleteUser.addEventListener('deleteUserOk', e => {this.deleteUserOK(e)})

      }
      deleteUserOK(e){
        console.log("deleteUserOK>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>");
        this.dispatchEvent(new CustomEvent('deleteOk',{
          detail:null
        }
        ))
      }

      _mostarDatosCliente() {
        this.$.doGetUser.generateRequest();
      }

      manageGetUserResponse(data) {
        var usuario = data.detail.__data.response;
        this.idCliente = usuario.idCliente
        this.nombre = usuario.nombre
        this.apellido = usuario.apellido
        this.tipoDocumento = usuario.tipoDocumento
        this.numeroDocumento = usuario.numeroDocumento
        this.telefono = usuario.telefono
      }
      showErrorGetUser(errorRespose){
        if (errorRespose.detail.request.__data.status == 404){
          this.titulo = "Mensaje de Validación"
          this.mensaje = errorRespose.detail.request.response.msg
          this.$.dlgMessagesUsuario._openDialog();
        } else {
          this.titulo = "Mensaje de Error"
          this.mensaje = 'Error interno de comunicación'
          this.$.dlgMessagesUsuario._openDialog();
        }
      }
    }

    window.customElements.define(AppActualizarDatos.is, AppActualizarDatos);
  </script>
</dom-module>
