
<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="mis-cuentas/user-account-movement.html">

<link rel="import" href="../shared-styles.html">

<dom-module id="app-transferir">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>

    <div class="card">
      <div class="circle">Transferencias</div>
      <user-account-movement id-cliente="{{idCliente}}"></user-account-movement>
    </div>
  </template>

  <script>
    class AppTransferir extends Polymer.Element {
      static get is() { return 'app-transferir'; }
      static get properties() {
        return {
          idCliente: {
            type: Number
          },
          islogged: {
            type: String,
            value:"NotOk"
          }
        };
      }
    }

    window.customElements.define(AppTransferir.is, AppTransferir);
  </script>
</dom-module>
