
<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/vaadin-grid/vaadin-grid.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<link rel="import" href="../shared-styles.html">

<dom-module id="app-list-users">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }
    </style>

    <div class="card">
      <div class="circle">Usuarios</div>
      <vaadin-grid theme="row-dividers" column-reordering-allowed multi-sort items="{{listUsers}}">
        <vaadin-grid-column flex-grow="0">
          <template class="header">#</template>
          <template>[[index]]</template>
        </vaadin-grid-column>
        <vaadin-grid-column path="tipoDocumento" header="Tip. Doc"></vaadin-grid-column>
        <vaadin-grid-column path="numeroDocumento" header="Nro. Doc"></vaadin-grid-column>
        <vaadin-grid-column path="nombre" header="Nombres"></vaadin-grid-column>
        <vaadin-grid-column path="apellido" header="Apellidos"></vaadin-grid-column>
        <vaadin-grid-column path="genero" header="Sexo"></vaadin-grid-column>
        <vaadin-grid-column path="email" header="Correo"></vaadin-grid-column>
        <vaadin-grid-column path="telefono" header="Telefono"></vaadin-grid-column>
      </vaadin-grid>

      <iron-ajax
        id="doListUsers"
        auto
        url="http://localhost:3000/apiperu/v0/users"
        content-type="application/json"
        method="GET"
        handle-as="json"
        last-response="{{listUsers}}"
        on-error="showError">

    </div>
  </template>

  <script>
    class AppListUsers extends Polymer.Element {
      static get is() { return 'app-list-users'; }

       static get properties() {
         return {
           idUser: {
             type: Number
           },
         }
       }

       listarUsuarios(){
         console.log("CargarUsuarios>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>");
       }

      showError(errorRespose) {
        console.log("Hubo un error>>>>>");
        console.log(errorRespose.detail.request.response);
      }

    }

    window.customElements.define(AppListUsers.is, AppListUsers);
  </script>
</dom-module>
