
<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../shared-styles.html">

<link rel="import" href="mis-cuentas/user-account.html">

<dom-module id="app-abrir-cuenta">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>

    <div class="card">
      <div class="circle">Abrir&nbsp;Cuenta</div>
      <user-account id-cliente="{{idCliente}}"></user-account>
    </div>
  </template>

  <script>
    class AppAbrirCuenta extends Polymer.Element {
      static get is() { return 'app-abrir-cuenta'; }
      static get properties() {
        return {
          idCliente: {
            type: Number
          },
          islogged: {
            type: String,
            value:"NotOk"
          }
        };
      }
    }

    window.customElements.define(AppAbrirCuenta.is, AppAbrirCuenta);
  </script>
</dom-module>
