
<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../../bower_components/app-route/app-location.html">
<link rel="import" href="../../bower_components/app-route/app-route.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../my-icons.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">

<link rel="lazy-import" href="app-mis-cuentas.html">
<link rel="lazy-import" href="app-realizar-pagos.html">
<link rel="lazy-import" href="app-transferir.html">
<link rel="lazy-import" href="app-efectivo-movil.html">
<link rel="lazy-import" href="app-abrir-cuenta.html">
<link rel="lazy-import" href="app-actualizar-datos.html">
<link rel="lazy-import" href="app-list-users.html">
<link rel="lazy-import" href="app-error-404.html">
<link rel="import" href="../app-dialog.html">

<dom-module id="app-user-home">
  <template>
    <style>
      :host {
        --app-primary-color: #4285f4;
        --app-secondary-color: black;

        display: block;
      }

      app-drawer-layout:not([narrow]) [drawer-toggle] {
        display: none;
      }

      app-header {
        color: #fff;
        background-color: var(--app-primary-color);
      }

      app-header paper-icon-button {
        --paper-icon-button-ink-color: white;
      }

      .drawer-list {
        margin: 0 20px;
      }

      .drawer-list a {
        display: block;
        padding: 0 16px;
        text-decoration: none;
        color: var(--app-secondary-color);
        line-height: 40px;
      }

      .drawer-list a.iron-selected {
        color: black;
        font-weight: bold;
      }



            paper-button.customs {
                 --paper-button-ink-color: var(--paper-pink-a200);
                 --paper-button-link-color-style: #2A86CA;
                 --paper-button-bbva-color-style: #2A86CA;
                   --paper-button-bbva: #5BBEFF;
                   --paper-button-bbva-let: #49A5E6;
                   /* These could also be individually defined for each of the
                     specific css classes, but we'll just do it once as an example */
                   --paper-button-flat-keyboard-focus: {
                     background-color: var(---paper-button-bbva-let) !important;
                     color: white !important;
                   };
                   --paper-button-raised-keyboard-focus: {
                     background-color: var(--paper-button-bbva-let) !important;
                     color: white !important;
                   };
                 }

                 paper-button.customs:hover {
                   background-color: var(--paper-button-bbva-let);
                 }
                 paper-button.pink {
                   color: white;
                 }
    </style>

    <app-location
        route="{{route}}"
        url-space-regex="^[[rootPath]]">
    </app-location>

    <app-route
        route="{{route}}"
        pattern="[[rootPath]]:page"
        data="{{routeData}}"
        tail="{{subroute}}">
    </app-route>

    <app-drawer-layout fullbleed narrow="{{narrow}}">
      <!-- Drawer content -->
      <app-drawer id="drawer" slot="drawer" swipe-open="[[narrow]]">
        <app-toolbar>Menu</app-toolbar>
        <iron-selector selected="[[page]]"
          attr-for-selected="name" class="drawer-list" role="navigation">
          <div hidden$="{{isCustomer}}">
            <a  name="mis-cuentas" href="[[rootPath]]mis-cuentas">Mis Cuentas</a>
            <a name="transferir" href="[[rootPath]]transferir">Transferencias</a>
            <a name="abrir-cuenta" href="[[rootPath]]abrir-cuenta">Abrir una Cuenta</a>
            <a name="actualizar-datos" href="[[rootPath]]actualizar-datos">Mis Datos</a>
          </div>
          <div hidden$="{{isAdmin}}">
            <a name="list-users" href="[[rootPath]]list-users">Usuarios</a>
          </div>
        </iron-selector>
      </app-drawer>

      <!-- Main content -->
      <app-header-layout has-scrolling-region>

        <app-header slot="header" condenses reveals effects="waterfall">
          <app-toolbar>
            <paper-icon-button icon="my-icons:menu" drawer-toggle></paper-icon-button>
            <div main-title>BBVA&nbsp;Tech&nbsp;(U)</div>


            <div align="right">
              <paper-item>
                <div>
                  <div>
                    <b></b><label>{{fechaActual}}</label>
                  </div>

                <div >
                  <b>Bienvenido </b><label>{{nombreCompletoCliente}}</label>
                </div>
                </div>
                <paper-button toggles class="customs pink" on-click="logout">Logout</paper-button>
              </paper-item>
            </div>
          </app-toolbar>
        </app-header>

        <iron-pages
            selected="[[page]]"
            attr-for-selected="name"
            fallback-selection="error404"
            role="main"
            >
          <app-mis-cuentas id="appMisCuentas" id-cliente="{{idCliente}}" name="mis-cuentas"></app-mis-cuentas>
          <app-realizar-pagos id-cliente="{{idCliente}}" name="realizar-pagos"></app-realizar-pagos>
          <app-transferir id-cliente="{{idCliente}}" name="transferir"></app-transferir>
          <app-efectivo-movil id-cliente="{{idCliente}}" name="efectivo-movil"></app-efectivo-movil>
          <app-abrir-cuenta id-cliente="{{idCliente}}" name="abrir-cuenta"></app-abrir-cuenta>
          <app-actualizar-datos id="appActualizarDatos" id-cliente="{{idCliente}}" name="actualizar-datos"></app-actualizar-datos>
          <app-error-404 name="error-404"></app-error-404>
          <app-list-users id="appListarUsuarios" name="list-users"></app-list-users>
        </iron-pages>
      </app-header-layout>
    </app-drawer-layout>
    <app-dialog id="dlgMessage" titulo="{{titulo}}" mensaje="{{mensaje}}"></app-dialog>
    <iron-ajax
      id="doLogout"
      url="http://localhost:3000/apiperu/v0/logout"
      content-type="application/json"
      method="POST"
      handle-as="json"
      on-response="manageAJAXResponse"
      on-error="showError">
  </template>

  <script>
    // Gesture events like tap and track generated from touch will not be
    // preventable, allowing for better scrolling performance.
    Polymer.setPassiveTouchGestures(true);

    class AppUserHome extends Polymer.Element {
      static get is() { return 'app-user-home'; }

      ready() {
        super.ready();
        this.$.appActualizarDatos.addEventListener('deleteOk', e => {this.deleteOK(e)})

      }

      deleteOK(data) {
      this.dispatchEvent(new CustomEvent('logoutOk',
      {
        detail:{
          idCliente:null,
        }
      }))
      this.islogged = "NotOK"
      }

      manageAJAXResponse(data) {
      this.dispatchEvent(new CustomEvent('logoutOk',
      {
        detail:{
          idCliente:null,
        }
      }))
      this.islogged = "NotOK"
      }

      showError(errorRespose) {


        if (errorRespose.detail.request.__data.status == 404){
          this.titulo = "Mensaje de Validación"
          this.mensaje = errorRespose.detail.request.response.msg
          this.$.dlgMessage._openDialog();
        } else {
          this.titulo = "Mensaje de Error"
          this.mensaje = 'Error interno de comunicación'
          this.$.dlgMessage._openDialog();
        }
      }

      logout(e) {
        var user = {
          "idCliente" : this.idCliente
        };

        this.$.doLogout.body = JSON.stringify(user);
        this.$.doLogout.generateRequest();
      }

      _onChangeRoute(e) {
        this.set('route.path', e.detail);
      }

      static get properties() {
        return {
          page: {
            type: String,
            reflectToAttribute: true,
            observer: '_pageChanged',
          },
          routeData: Object,
          subroute: Object,
          // This shouldn't be neccessary, but the Analyzer isn't picking up
          // Polymer.Element#rootPath
          rootPath: String,
          idCliente: {
            type: Number
          },
          nombreCliente:{
            type: String
          },
          apellidoCliente:{
            type: String
          },
          fechaActual:{
            type: String
          },
          nombreCompletoCliente:{
            type: String,
            computed: 'definirNombreCompleto(nombreCliente, apellidoCliente)'
          },
          isAdmin:{
            type: Boolean,
            value: true
          },
          isCustomer:{
            type: Boolean,
            value: false
          },
          titulo: {
            type: String
          },
          mensaje: {
            type: String
          }
        };
      }

      definirNombreCompleto(nombre, apellidos) {
        return nombre + " " + apellidos
      }

      static get observers() {
        return [
          '_routePageChanged(routeData.page)'
        ];
      }

      _routePageChanged(page) {
        // If no page was found in the route data, page will be an empty string.
        // Default to 'view1' in that case.
        console.log("_routePageChanged: isAdmin: > : ", this.isAdmin);
        if (this.isAdmin) {
          this.page = page || 'mis-cuentas';
        } else {
          this.page = page || 'list-users';
        }


        // Close a non-persistent drawer when the page & route are changed.
        //var drawer = this.shadowRoot.getElementById('drawer');

        if (!this.$.drawer.persistent) {
          this.$.drawer.close();
        }
      }
      mostarMenu() {

        console.log("mostrarMenus: isAdmin: > : ", this.isAdmin);
        if (this.isAdmin) {
          this.page = 'mis-cuentas';
        } else {
          this.page = 'list-users';
        }

        if (!this.$.drawer.persistent) {
          this.$.drawer.close();
        }
      }

      cargarCuentas() {
        this.$.appMisCuentas._mostarDatosForm()
      }
      cargarListaUsuarios() {
        console.log("CargarUsuariosAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA");
        this.$.appListarUsuarios.listarUsuarios()
      }

      _pageChanged(newPage, oldPage) {
        // Load page import on demand. Show 404 page if fails
        const resolvedPageUrl = this.resolveUrl('app-' + newPage + '.html');
        Polymer.importHref(
            resolvedPageUrl,
            null,
            this._showPage404.bind(this),
            true);
      }

      _showPage404() {
        this.page = 'error-404';
      }

      attributeChangedCallback(nombre, valorAnterior, valorNuevo) {
        super.attributeChangedCallback();
        if (valorAnterior != undefined && valorAnterior != null) {
          if (valorNuevo != undefined && valorNuevo != null && valorNuevo == 'mis-cuentas'){
            var appMisCuentas = this.$.appMisCuentas;
            appMisCuentas.idCliente = this.idCliente
            appMisCuentas._mostarDatosForm()
          } else if (valorNuevo != undefined && valorNuevo != null && valorNuevo == 'actualizar-datos'){
            var appActualizarDatos = this.$.appActualizarDatos;
            appActualizarDatos.idCliente = this.idCliente
            appActualizarDatos._mostarDatosCliente()
          } else {

          }
        }
      }

    }

    window.customElements.define(AppUserHome.is, AppUserHome);
  </script>
</dom-module>
