
<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="mis-cuentas/user-account-movement.html">

<dom-module id="app-realizar-pagos">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>

    <div class="card">
      <div class="circle">Pagos</div>

        <user-account-movement id-cliente="{{idCliente}}"></user-account-movement>

    </div>
  </template>

  <script>
    class AppRealizarPagos extends Polymer.Element {
      static get is() { return 'app-realizar-pagos'; }
      static get properties() {
        return {
          idCliente: {
            type: Number
          },
          islogged: {
            type: String,
            value:"NotOk"
          }
        };
      }
    }

    window.customElements.define(AppRealizarPagos.is, AppRealizarPagos);
  </script>
</dom-module>
