
  <link rel="import" href="../../bower_components/polymer/polymer-element.html">
  <link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
  <link rel="import" href="../../bower_components/paper-radio-group/paper-radio-group.html">
  <link rel="import" href="../../bower_components/paper-input/paper-input.html">
  <link rel="import" href="../../bower_components/paper-button/paper-button.html">
  <link rel="import" href="../../bower_components/iron-form/iron-form.html">
  <link rel="import" href="../../bower_components/vaadin-combo-box/vaadin-combo-box.html">

  <link rel="import" href="../shared-styles.html">
  <link rel="import" href="../app-dialog.html">

  <dom-module id="app-techu-save-user">
    <template>
    <style include="shared-styles">
    :host {
      display: block;

      padding: 10px;
    }
    vaadin-combo-box {
      width: 100%;
    }
    </style>
      <div hidden$="{{mostrarAlta}}">
        <div class="card">
          <div class="circle">Crear&nbsp;Usuario</div>

      <iron-form id="formSaveUser">
        <form action="/">
            <vaadin-combo-box id="cbxDni"  placeholder="Seleccione"
            label="Tipo de Documento" value="{{tipoDocumento}}" items="{{listDocuments}}" required>
          </vaadin-combo-box>
          <paper-input label="Documento" value="{{numeroDocumento::input}}" required></paper-input>
          <paper-input label="Nombres" value="{{nombre::input}}" required></paper-input>
          <paper-input label="Apellidos" value="{{apellido::input}}" required></paper-input>

          <paper-radio-group selected="{{genero}}" required>
            <paper-radio-button name="Masculino">Masculino</paper-radio-button>
            <paper-radio-button name="Femenino">Femenino</paper-radio-button>
          </paper-radio-group>
          <paper-input label="N&uacute;mero Telef&oacute;nico" value="{{telefono::input}}" required></paper-input>
          <paper-input label="Correo" value="{{email::input}}" required></paper-input>
          <paper-input label="Password" type="password" value="{{password::input}}" required></paper-input>
          <br>
          <div  align="right">
            <paper-button toggles raised class="custom green" on-click="saveUser">Registrar</paper-button>
            <paper-button toggles raised class="custom green" on-click="resetForm">Ir Login</paper-button>
          </div>
      </form>
    </iron-form>
  </div>
</div>
  <app-dialog id="dlgMessagesUsuario"  titulo="{{titulo}}" mensaje="{{mensaje}}">
  </app-dialog>
  <iron-ajax
  id="doSaveUser"
  url="http://localhost:3000/apiperu/v0/users"
  content-type="application/json"
  method="POST"
  handle-as="json"
  on-response="manageAJAXResponse"
  on-error="showError">
  </template>

  <script>
  class AppTechuSaveUser extends Polymer.Element {
    static get is() { return 'app-techu-save-user'; }
    constructor() {
      super();
    }
    static get properties() {
      return {
        email: {
          type: String,
        },
        password: {
          type: Number,
        },
        idUser: {
          type: Number
        },nombre: {
          type: String,
        },
        apellido: {
          type: String,
        },
        correo: {
          type: String,
        },
        genero: {
          type: String,
        },
        telefono: {
          type: String,
        },
        tipoDocumento: {
          type: String,
        },
        numeroDocumento: {
          type: String,
        },
        islogged: {
          type: String,
          value: "NotOk"
        },
        listDocuments: {
          type: Object,
          notify: true,
          value: function() { return ['DNI', 'RUC', 'Pasaporte','Carnet de Extranjeria']; }
        },
        titulo: {
          type: String,
        },
        mensaje: {
          type: String,
        },
        mostrarAlta: {
          type:Boolean,
          value: true
        }
      };
    }
    ready() {
      super.ready();
    }

    mostrarDatosRecibidos(data){
      this.idCliente = data.idCliente
      this.islogged = "Ok"
    }

    _isEqualTo(title, string){
      return title == string;
    }

    manageAJAXResponse(data) {
      this.dispatchEvent(new CustomEvent('usuarioCreadoOk',
      {
        detail:{
          idCliente:this.idCliente,
        }
      }))
      this.titulo = 'USUARIO GENERADO CORRECTAMENTE'
      this.mensaje = "Cuenta " + this.email
      this.$.formSaveUser.reset();
      this.$.dlgMessagesUsuario._openDialog();
      this.islogged = "NotOK"

    }

    showError(errorRespose) {
      if (errorRespose.detail.request.__data.status == 404){
        this.titulo = "Mensaje de Validación"
        this.mensaje = errorRespose.detail.request.response.msg
        this.$.dlgMessagesUsuario._openDialog();
      } else {
        this.titulo = "Mensaje de Error"
        this.mensaje = 'Error interno de comunicación'
        this.$.dlgMessagesUsuario._openDialog();
      }
    }

    saveUser(e){
      var isvalido =this.$.formSaveUser.validate();
      if (isvalido) {
        var user = {
          "nombre": this.nombre,
          "apellido": this.apellido,
          "email": this.email,
          "genero": this.genero,
          "telefono": this.telefono,
          "password": this.password,
          "tipoDocumento": this.tipoDocumento,
          "numeroDocumento": this.numeroDocumento
        }
        console.log("Usuario::::::::::::::::::::::::::::<", user);
        this.$.doSaveUser.body = JSON.stringify(user);
        this.$.doSaveUser.generateRequest();
      }
    }

    resetForm(e) {
      this.dispatchEvent(new CustomEvent('usuarioCreadoOk',
      {
        detail:{
          idCliente:null,
        }
      }))
      this.islogged = "NotOK"
    }

  }

  window.customElements.define(AppTechuSaveUser.is, AppTechuSaveUser);
  </script>
  </dom-module>
