
<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../shared-styles.html">
<link rel="import" href="mis-cuentas/app-user-accounts.html">
<link rel="import" href="mis-cuentas/app-user-account-movements.html">


<dom-module id="app-mis-cuentas">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>
      <app-user-accounts id-cliente="{{idCliente}}" id="ceUserAccountsEmisor"></app-user-accounts>
      <app-user-account-movements id-cliente="{{idCliente}}" id="ceUserAccountMovemenstReceptor"></app-user-account-movements>
  </template>

  <script>
    class AppMisCuentas extends Polymer.Element {
      static get is() { return 'app-mis-cuentas'; }
      static get properties() {
        return {
          idCliente: {
            type: Number,
            notify: true
          },
          idCuenta: {
            type: Number,
            notify: true
          },
          islogged: {
            type: String,
            value:"NotOk",
            notify: true
          }
        };
      }

      constructor(){
        super();
      }
      ready(){
        super.ready()
        this.$.ceUserAccountsEmisor.addEventListener('listUserAccounts', e => {this.getUserAccounts(e)})
        this.$.ceUserAccountMovemenstReceptor.addEventListener('listUserAccountMovements', e => {this.getUserAccountMovemments(e)})
      }

      _mostarDatosForm(){
        var cuentasUsuario = this.$.ceUserAccountsEmisor
        cuentasUsuario.idCliente = this.idCliente
        cuentasUsuario._mostarCuentas()

        console.log("app-mis-cuentas::::::> " , this.idCliente, this.idCuenta);
        if (this.idCuenta != undefined && this.idCuenta != null) {
          var movimientosCuenta = this.$.ceUserAccountMovemenstReceptor
          movimientosCuenta.mostrarMovimientos();
        }

      }


      getUserAccounts(e){
        this.idCuenta = e.idCuenta
        this.$.ceUserAccountMovemenstReceptor.mostrarDatosRecibidos(e.detail)
      }
      getUserAccountMovemments(e){
        this.idCuenta = null
        this.$.ceUserAccountsEmisor.mostrarDatosRecibidos(e.detail)
      }

    }

    window.customElements.define(AppMisCuentas.is, AppMisCuentas);
  </script>
</dom-module>
