
  <link rel="import" href="../../bower_components/polymer/polymer-element.html">
  <link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
  <link rel="import" href="../../bower_components/paper-radio-group/paper-radio-group.html">
  <link rel="import" href="../../bower_components/paper-input/paper-input.html">
  <link rel="import" href="../../bower_components/paper-button/paper-button.html">
  <link rel="import" href="../../bower_components/iron-form/iron-form.html">
  <link rel="import" href="../../bower_components/vaadin-combo-box/vaadin-combo-box.html">

  <link rel="import" href="../shared-styles.html">
  <link rel="import" href="../app-dialog.html">

  <dom-module id="app-update-user">
    <template>
    <style include="shared-styles">
    :host {
      display: block;

      padding: 10px;
    }
    vaadin-combo-box {
      width: 100%;
    }
    </style>
    <iron-form id="formUpdateUser">
      <form action="/">

        <vaadin-combo-box id="cbxDni"  placeholder="Seleccione"
        label="Tipo de Documento" value="{{tipoDocumento}}" items="{{listDocuments}}" required>
      </vaadin-combo-box>
      <paper-input label="Documento" value="{{numeroDocumento::input}}" required></paper-input>
      <paper-input label="Nombres" value="{{nombre::input}}" required></paper-input>
      <paper-input label="Apellidos" value="{{apellido::input}}" required></paper-input>
      <paper-input label="N&uacute;mero Telef&oacute;nico" value="{{telefono::input}}" required></paper-input>
      <br>
      <div align="right">
        <!--<paper-button toggles raised class="custom green" on-click="deleteUser">Eliminar Usuario</paper-button>-->
        <paper-button toggles raised class="custom green" on-click="updateUser">Actualizar Datos</paper-button>
      </div>
    </form>
  </iron-form>


  <app-dialog id="dlgMessagesUsuario" titulo="{{titulo}}" mensaje="{{mensaje}}"></app-dialog>

  <iron-ajax
  id="doUpdateUser"
  url="http://localhost:3000/apiperu/v0/users/{{idCliente}}"
  content-type="application/json"
  method="PUT"
  handle-as="json"
  on-response="manageUpdateUserResponse"
  on-error="showError">

  </template>


  <script>
  class AppUserUpdate extends Polymer.Element {
    static get is() { return 'app-update-user'; }
    constructor() {
      super();
    }
    static get properties() {
      return {
        email: {
          type: String,
        },
        password: {
          type: Number,
        },
        idUser: {
          type: Number
        },nombre: {
          type: String,
        },
        apellido: {
          type: String,
        },
        correo: {
          type: String,
        },
        telefono: {
          type: String,
        },
        tipoDocumento: {
          type: String,
        },
        numeroDocumento: {
          type: String,
        },
        islogged: {
          type: String,
          value: "NotOk"
        },
        listDocuments: {
          type: Object,
          notify: true,
          value: function() { return ['DNI', 'RUC', 'Pasaporte','Carnet de Extranjeria']; }
        },
        titulo: {
          type: String
        },
        mensaje: {
          type: String
        },
        idCliente: {
          type: Number
        }
      };
    }
    ready() {
      super.ready();
    }

    _isEqualTo(title, string){
      return title == string;
    }

    manageUpdateUserResponse(data) {
      this.titulo = "DATOS ACTUALIZADOS CORRECTAMENTE"
      this.mensaje = ''
      this.$.dlgMessagesUsuario._openDialog();
    }

    showError(errorRespose) {
      if (errorRespose.detail.request.__data.status == 404){
        this.titulo = "Mensaje de Validación"
        this.mensaje = errorRespose.detail.request.response.msg
        this.$.dlgMessagesUsuario._openDialog();
      } else {
        this.titulo = "Mensaje de Error"
        this.mensaje = 'Error interno de comunicación'
        this.$.dlgMessagesUsuario._openDialog();
      }
    }

    updateUser(e){
      var isvalido =this.$.formUpdateUser.validate();
      if (isvalido) {
        var userUpdate = {
          "idCliente": this.idCliente,
          "nombre": this.nombre,
          "apellido": this.apellido,
          "telefono": this.telefono,
          "tipoDocumento": this.tipoDocumento,
          "numeroDocumento": this.numeroDocumento
        }
        this.$.doUpdateUser.body = JSON.stringify(userUpdate);
        this.$.doUpdateUser.generateRequest();
      }
    }

    deleteUser(e){
      this.$.doDeleteUser.generateRequest();

    }

    _loadUserData(e){
      this.$.doGetUser.body = JSON.stringify(userUpdate);
      this.$.doGetUser.generateRequest();

    }

    resetForm(e) {
      this.$.formUpdateUser.reset()
    }
  }

  window.customElements.define(AppUserUpdate.is, AppUserUpdate);
  </script>
  </dom-module>
