
<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">

<link rel="import" href="app-user-home.html">
<link rel="import" href="../shared-styles.html">

<dom-module id="user-home">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>
    <div hidden$="{{ocultar}}">
      <app-user-home
      id="ceAppUserHome"
      id-cliente="{{idCliente}}"
      nombre-cliente = "{{nombre}}"
      apellido-cliente = "{{apellido}}"
      fecha-actual = "{{fechaActual}}"
      is-admin="{{isAdmin}}"
      is-customer="{{isCustomer}}">
    </app-user-home>
    </div>
  </template>

  <script>
    class UserHomeApp extends Polymer.Element {
      static get is() { return 'user-home'; }
      static get properties() {
         return {
           idCliente: {
             type: Number
           },
           nombre: {
             type: String
           },
           apellido: {
             type: String
           },
           fechaActual: {
             type: String,
             computed: 'obtnerFechaActual()'
           },
           islogged: {
             type: String,
             value:"NotOk"
           },
           ocultar: {
             type:Boolean,
             value: true
           },
           isAdmin:{
             type: Boolean,
             value: true
           },
           isCustomer:{
             type: Boolean,
             value: false
           }
         };
       }

       constructor(){
         super();
       }

       ready(){
          super.ready()
          this.$.ceAppUserHome.addEventListener('logoutOk', e => {this.logoutUserOK(e)})
          this.$.ceAppUserHome.addEventListener('deleteOK', e => {this.deleteUserOK(e)})
        }

        logoutUserOK(e){
          this.dispatchEvent(new CustomEvent('logoutUserOk',
          {
            detail:{
              idCliente:null,
            }
          }))
          this.idCliente = null
          this.islogged = "NotOK"
        }
        deleteUserOK(){
          this.dispatchEvent(new CustomEvent('logoutUserOk',
          {
            detail:{
              idCliente:null,
            }
          }))
          this.idCliente = null
          this.islogged = "NotOK"
        }

       obtnerFechaActual(){
           return obtenerFechaActual()
        }

       mostrarDatosRecibidos(data){
          this.idCliente = data.cliente.idCliente
          this.nombre = data.cliente.nombre
          this.apellido = data.cliente.apellido
          this.islogged = "Ok"
          this.$.ceAppUserHome.mostarMenu()
          if (this.isAdmin) {
            this.$.ceAppUserHome.cargarCuentas()
          } else {
            this.$.ceAppUserHome.cargarListaUsuarios()
          }

        }

        _mostrarDatosRecibidos(data){
           this.idCliente = data.cliente.idCliente
           this.nombre = data.cliente.nombre
           this.apellido = data.cliente.apellido
           this.islogged = "Ok"
           console.log("_mostrarDatosRecibidos::ceAppUserHome::> ", this.$.ceAppUserHome);


           this.$.ceAppUserHome.mostarMenu()
           //this.$.ceAppUserHome.cargarCuentas()
         }
    }

    function obtenerFechaActual(){
      var fecha = new Date(); //Fecha actual
      var mes = fecha.getMonth()+1; //obteniendo mes
      var dia = fecha.getDate(); //obteniendo dia
      var anio = fecha.getFullYear(); //obteniendo año
      if(dia<10)
        dia='0'+dia
      if(mes<10)
        mes='0'+mes
      return dia + "/" + mes + "/" + anio
    }

    window.customElements.define(UserHomeApp.is, UserHomeApp);
  </script>
</dom-module>
