
<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../../bower_components/paper-radio-group/paper-radio-group.html">
<link rel="import" href="../../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../../bower_components/iron-form/iron-form.html">
<link rel="import" href="../../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../../bower_components/vaadin-combo-box/vaadin-combo-box.html">
<link rel="import" href="../../../bower_components/paper-dialog/paper-dialog.html">

<link rel="import" href="../../shared-styles.html">

<dom-module id="user-account">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>
    <div>
      <div>
        <b>ID_ABIR_CUENTA: </b><label>{{idCliente}}</label>
      </div>
          <iron-form id="formSaveAccount">
           <form action="/">
             <paper-item>
               <vaadin-combo-box raised id="cbxTipoCuenta"  placeholder="Seleccione"
                label ="Seleccione una Cuenta"
                value="{{tipo}}" readonly='{{isReadOnly}}' required>
               </vaadin-combo-box>
             </paper-item>
               <!--<paper-input label="Tipo Cuenta" value="{{tipo::input}}" readonly='{{isReadOnly}}' required></paper-input>-->
               <!--<paper-input label="Numero Cuenta" value="{{numeroCuenta::input}}" readonly='{{isReadOnly}}' required></paper-input>-->

               <paper-item>
               <vaadin-combo-box raised id="cbxMonedaSaldo" label ="Seleccione Moneda"
               value="{{monedaSaldo}}" readonly='{{isReadOnly}}' required>
               </vaadin-combo-box>
             </paper-item>
           </paper-item>
               <paper-input raised label="Saldo" value="{{saldo::input}}" readonly='{{isReadOnly}}' required></paper-input>
               </paper-item>
             <br><br>
             <paper-button toggles raised class="custom green" on-click="saveAccount">Registrar</paper-button>
             <paper-button toggles raised class="custom green" on-click="resetForm">Limpiar</paper-button>
           </form>
         </iron-form>
         <iron-ajax
           id="doSaveUserAccount"
           url="http://localhost:3000/apiperu/v0/users/{{idCliente}}/accounts"
           content-type="application/json"
           method="POST"
           handle-as="json"
           on-response="saveUserAccountResponse"
           on-error="showError">

    </div>
    <paper-dialog id="modalMessagesCuenta"  >
      <h2>{{titulo}}</h2>
      <p>
        {{mensaje}}
      </p>
      <div align="center">
        <paper-button dialog-confirm autofocus class="customs link">Aceptar</paper-button>
      </div>
    </paper-dialog>
  </template>

  <script>
    class UserAccount extends Polymer.Element {
      static get is() { return 'user-account'; }
      constructor() {
         super();
       }
       static get properties() {
         return {
           idCliente: {
             type: Number
           },idCuenta: {
             type: Number
           },
           numeroCuenta: {
             type: String,
           },
           tipo: {
             type: String,
           },
           saldo: {
             type: String,
           },
           monedaSaldo: {
             type: String,
           },
           isReadOnly: {
             type: Boolean,
             value:false
           },
           titulo: {
             type: String,
           },
           mensaje: {
             type: String,
           }
         };
       }
      ready() {
         super.ready();
         this.$.cbxMonedaSaldo.items  = ['PEN', 'USD', 'EUR']
         this.$.cbxMonedaSaldo.value = 'PEN'
         this.$.cbxTipoCuenta.items = ['CUENTA SUELDO', 'CUENTA FÁCIL', 'CUENTA CTS','CUENTA FREE']
       }
      saveUserAccountResponse(data) {

          this.titulo = this.tipo + ' GENERADO CORRECTAMENTE'
          this.mensaje = "Numero de cuenta: " + this.numeroCuenta
          this.$.modalMessagesCuenta.open();



      }
      showError(errorRespose) {
        console.log(errorRespose.detail.request.response);
      }
      saveAccount(e){
        var isValidate = this.$.formSaveAccount.validate()
        if (isValidate){

            this.numeroCuenta = generarNumeroCuenta()
            var account = {
                "idCliente": this.idCliente,
                "monedaSaldo": this.monedaSaldo,
                "saldo": this.saldo,
                "tipo": this.tipo,
                "numeroCuenta": this.numeroCuenta
            }
            this.$.doSaveUserAccount.body = JSON.stringify(account);
            this.$.doSaveUserAccount.generateRequest();
        }
      }
      resetForm(e) {
        this.$.formSaveAccount.reset();
      }
    }

    function generarNumeroCuenta() {
      let banco = '0011'
      let oficina = Math.floor((Math.random() * 8999) + 1000);
      let numeroCuenta = Math.floor((Math.random() * 8999999999) + 100000000);
      return banco + '-' + oficina + '-' +numeroCuenta
    }

    window.customElements.define(UserAccount.is, UserAccount);
  </script>
</dom-module>
