
<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-dialog/paper-dialog.html">

<link rel="import" href="shared-styles.html">

<dom-module id="app-dialog">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>
    <paper-dialog id="modalMessages"  >
      <h2>{{titulo}}</h2>
      <div align="center">
        <p>{{mensaje}}</p>
      </div>
      <div align="center">
        <paper-button dialog-confirm autofocus class="customs link">Aceptar</paper-button>
      </div>
    </paper-dialog>
  </template>

  <script>
    class AppDialog extends Polymer.Element {
      static get is() { return 'app-dialog'; }
      constructor() {
         super();
       }
       static get properties() {
         return {
           titulo: {
             type: String
           },
           mensaje: {
             type: String
           }
         };
       }
      ready() {
         super.ready();
       }
       _openDialog(e) {
         this.$.modalMessages.open()
       }
    }
    window.customElements.define(AppDialog.is, AppDialog);
  </script>
</dom-module>
