<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">

<!-- shared styles for all views -->
<dom-module id="shared-styles">
  <template>
    <style>
      .card {
        margin: 24px;
        padding: 16px;
        color: #757575;
        border-radius: 5px;
        background-color: #fff;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
      }

      .circle {
        display: inline-block;
        width: 64px;
        height: 64px;
        text-align: center;
        color: #555;
        border-radius: 50%;
        background: #ddd;
        font-size: 30px;
        line-height: 64px;
      }

      h1 {
        margin: 16px 0;
        color: #212121;
        font-size: 22px;
      }

      paper-button.customs {
           --paper-button-ink-color: var(--paper-pink-a200);
           --paper-button-link-color-style: #2A86CA;
           --paper-button-bbva-color-style: #2A86CA;
            --paper-pink-mouse:  #49A5E6;
             --paper-button-bbva: #5BBEFF;
             --paper-button-bbva-let: #D4EDFC;
             /* These could also be individually defined for each of the
               specific css classes, but we'll just do it once as an example */
             --paper-button-flat-keyboard-focus: {
               background-color: var(--paper-pink-mouse) !important;
               color: white !important;
             };
             --paper-button-raised-keyboard-focus: {
               background-color: var(--paper-pink-mouse) !important;
               color: white !important;
             };
           }

      paper-button.custom {
           --paper-button-ink-color: var(--paper-pink-a200);
           --paper-pink-mouse:  #004481;
           --paper-button-link-color-style: #2A86CA;
           --paper-button-bbva-color-style: #2A86CA;
           --paper-button-bbva: #5BBEFF;
           --paper-button-bbva-let: #004481;
           /* These could also be individually defined for each of the
             specific css classes, but we'll just do it once as an example */
           --paper-button-flat-keyboard-focus: {
             background-color: var(--paper-pink-mouse) !important;
             color: white !important;
           };
           --paper-button-raised-keyboard-focus: {
             background-color: var(--paper-pink-mouse) !important;
             color: white !important;
           };
         }
         paper-button.custom:hover {
           background-color: var(--paper-button-bbva);
         }
         paper-button.customs:hover {
           background-color: var(--paper-button-bbva-let);
         }
         paper-button.pink {
           color: var(--paper-button-link-color-style);
         }

         paper-button.green {
           background-color: var(--paper-button-bbva-color-style);
           color: white;
         }

    </style>
  </template>
</dom-module>
